
@model List<Blog.Models.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="padding-top:30px;padding-bottom:300px" class="site-section py-sm">
    <div class="container">
        @if (Model.Count != 0 && ViewBag.All== false)
        {
            <div class="row">
                <div class="col-md-6">
                    <h2 id="art-cat" class="mb-4">@Model[0].Category</h2>
                </div>
            </div>
        }
        
        @if (ViewBag.All)
        {
            <div class="row">
                <div class="col-md-6">
                    <h2 id="art-cat" class="mb-4">Tüm Kategoriler</h2>
                </div>
            </div>
        }

        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">

                    @if (Model.Count != 0)
                    {
                        @foreach (var item in Model)    
                        {

                            <div class="col-md-6">
                                <a asp-action="BlogPage" asp-controller="Home" asp-route-artId=@item.Id class="blog-entry element-animate" data-animate-effect="fadeIn">
                                    <img id="art-img" style="width: 100%;height: 250px" asp-for="PhotoPath" src="@item.PhotoPath[0]" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span id="art-cat" asp-for="Category" class="category">@item.Category</span>
                                            <span id="art-date" asp-for="ExistingTime" class="mr-2">@item.ExistingTime</span> &bullet;
                                            <span id="art-com" class="ml-2"><span class="fa fa-comments"></span> @item.CommentsCount</span>
                                        </div>
                                        <h2 id="art-title" asp-for="Title">@item.Title</h2>
                                    </div>
                                </a>
                            </div>



                        }
                    }
                    else
                    {
                        <h2 style="margin:auto;padding-top: 200px" class="text text-danger">Henüz Eklenmiş Bir Makale Yoktur.</h2>

                    }

                    <div id="pagination" style="margin:auto;display:none" class="row">
                        <div class="col-md-12 text-center">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
           
        </div>
    </div>
</section>

@section scripts{

    <script>
 
        $(function () {

            if (@Model.Count > 6) {
                console.log("a");
                $("#pagination").css("display", "block");
            }

        })



    </script>


}
